.pong {
    position: absolute;
    top: 10%;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    height: 85vh;
    width: 80vw;
    background-image: linear-gradient(
        to left, rgb(65, 70, 78), rgb(82, 66, 66));
}

