.pong {
    position: absolute;
    top: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    height: 85vh;
    width: 80vw;
    background-image: linear-gradient(
        to top, rgb(102, 102, 102), rgb(170, 170, 170));
}

